alias vi='nvim'
alias vim='nvim'

alias more='less'

alias update='sudo pacman'

alias pacup='sudo pacman -Syu'
alias paclean='packages=$(pacman -Qdtq) ; if [ $packages ]; then sudo pacman -Rcns $packages; else echo "No packages to clean"; fi'
alias waka-waka='pacup && printf "\n" && paclean'

# sudo alias
alias mount='sudo mount'
alias umount='sudo umount'

# trash can alias
alias rm='trash-put'
alias list='trash-list'
alias empty='trash-empty'
alias restore='trash-restore'

# Vim alias
alias q='exit'
alias :q='exit'

alias yay='yay --aur'

# xampp control panel
alias xampp='sudo /opt/lampp/manager-linux-x64.run'

# dot-config git repository alias
alias dot-config='git --git-dir=$HOME/dot-config --work-tree=$HOME'

# clean fetch screen
alias ufetch='clear && ufetch'
alias neofetch='clear && neofetch'
