#!/usr/bin/sh

alias vi='nvim'
alias vim='nvim'

alias more='less'

# trash can alias
alias crm='rm'
alias rm='trash-put'
alias list='trash-list'
alias empty='trash-empty'
alias restore='trash-restore'

# Vim alias
alias q='exit'

# Download only AUR packages using yay
alias yay='yay --aur'

# dot-config git repository alias
alias dot-files='git --git-dir=$HOME/.dot-files --work-tree=$HOME'

# clean fetch screen
alias ufetch='clear && ufetch'
